.card {
  width: 400px;
  height: 400px;
  background-color: hsl(212, 21%, 14%);
  border-radius: 1.25rem;
  padding: 2rem;
}

@media only screen and (min-width: 375px) {
  .card {
    width: 350px;
  }
}
