* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: hsl(216, 12%, 8%);
  font-family: "overpass" sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
